.grid-container {
  display: grid;
  grid-gap: 16px;
  &--form-inputs {
    grid-template-columns: 2fr 3fr;
    max-width: 1000px;
    width: 50vw;
    min-width: 500px;
  }
  &--checkbox {
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
  }
}
.container {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100vw;
}
.card {
  border: solid black 1px;
  padding: 12px;
  button {
    width: 100%;
  }
}
