:root {
	--side-channels: 75px;
}
.main {
	grid-template-columns: var(--side-channels) 1fr var(--side-channels);
}

.grid {
	display: grid;
	column-gap: 1ch;
}

.content {
	grid-template-columns: 1fr 1fr;
	/* background: yellowgreen; */
}

.top {
	grid-column: span 1 / 2;
	background: green;

}
.form {
	grid-column: 1;
	height: 110px;
	background: orange;

}
.results {
	grid-column: 2;
	height: 150px;
	background: blue;

}

/* form types */
.addProvider{
    /* display: none; */
    color: navy;
}
